[submodule "Starter_Problems/01_Merge_Sorted_Array"]
	path = Starter_Problems/01_Merge_Sorted_Array
	url = https://github.com/madiv9820/01_Merge_Sorted_Array.git
[submodule "Starter_Problems/02_Remove_Element"]
	path = Starter_Problems/02_Remove_Element
	url = https://github.com/madiv9820/02_Remove_Element.git
[submodule "Starter_Problems/03_Remove_Duplicates_from_Sorted_Array"]
	path = Starter_Problems/03_Remove_Duplicates_from_Sorted_Array
	url = https://github.com/madiv9820/03_Remove_Duplicates_from_Sorted_Array.git
[submodule "Skill_Building/04_Remove_Duplicates_From_Sorted_Array_II"]
	path = Skill_Building/04_Remove_Duplicates_From_Sorted_Array_II
	url = https://github.com/madiv9820/04_Remove_Duplicates_From_Sorted_Array_II.git
[submodule "Starter_Problems/05_Majority_Element"]
	path = Starter_Problems/05_Majority_Element
	url = https://github.com/madiv9820/05_Majority_Element.git
[submodule "Skill_Building/06_Rotate_Array"]
	path = Skill_Building/06_Rotate_Array
	url = https://github.com/madiv9820/06_Rotate_Array.git
